body {
    background-color: antiquewhite;
}

.transform,
.transition,
.animation {
    border: 2px solid gray;
    margin: 1rem 0;
}

.box {
    width: 200px;
    height: 200px;
}

.b1 {
    background-color: cyan;
}

.b2 {
    background-color: pink;
}

.b3 {
    background-color: #ccccff;
}

.b4 {
    background-color: #ffffc5;
}

/* CSS transitions */

.transition .b1 {
    /* propery, duration, timing, delay */
    transition: width 1000ms ease-in-out 0.5s;
}

.transition .b1:hover {
    width: 400px;
}

.transition .b2 {
    transition: width 1s 0.2s, height 0.5s 0.5s;
    transition-timing-function: ease-in;
}

.transition .b2:hover {
    width: 400px;
    height: 400px;
    background-color: cadetblue;
}

.transition .b3 {
    transition: transform 1s cubic-bezier(1, -1.11, .3, .8) 0.5s;

}

.transition .b3:hover {
    transform: rotate(80deg);
}

.transition .b4 {
    transition: all 1s ease-out 0.2s;
}

.transition .b4:hover {
    border-radius: 2rem;
    background-color: burlywood;
}

/* CSS Transformation */

.transform .box {
    transition: all 1s ease-in-out 0.2s;
}

.transform .b1:hover{
    transform: translate(200px, 100px);
}
.transform .b2{
    transform: scale(0.8);
}
.transform .b2:hover{
    transform: scale(1.2);
}
.transform .b3{
    transform-origin: right top;
}
.transform .b3:hover{
    transform: rotate(-45deg);

}
.transform .b4{
    transform: skewX(35deg) skewY(10deg);
}
.transform .b4:hover{
    transform: skew(0);
}
/* CSS Animation */

@keyframes changeColour{
    from{
        background-color: brown;
    }
    to{
        background-color: cadetblue;
    }
}
.animation .b1{
    animation-name: changeColour;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
@keyframes moveAround{
    0%{
    transform: translate(0,0);
    }
    25%{
        transform:translate(200px, 0);
    }
    50%{
        transform: translate(200px, 200px);
    }
    75%{
        transform: translate(0, 200px) ;
    }
    100%{
        transform: translate(0 0);
    }
}
.animation .b2{
    animation: moveAround 4s;
    animation-delay: 3s;
    /* animation-iteration-count: 10; */
    animation-direction: alternate;
    
}
@keyframes twoThings{
    0%{
        transform: scale(0.7) rotateX(0) translateX(0);
    }
    100%{
        transform: scale(1.2) rotateX(180deg) translateX(600px);
    }
}
.animation .b3{
    animation: twoThings 5s;
    /* animation-iteration-count: infinite; */
    animation-direction: alternate;
}
.animation .b3:hover{
    animation-play-state: paused;
}

@keyframes spin{
    0%{
        transform: rotate(0%);
    }
    25%{
        transform: rotate(25%);
    }
    50%{
        transform: rotate(50%);
    }
    75%{
        transform: rotate(75%);
    }
    100%{
        transform: rotate(0%);
    }
}
.animation .b4{
    animation: spin 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}